<!DOCTYPE html>
<html>
    <head>
        <link href="../static/cadlogin.css" rel="stylesheet">
    </head>
    <body>
        <div>
            <div><center>
                <img src="https://github.com/vignesh-viggy-7/images/blob/main/newzz.png?raw=true" style="border-radius:8px;"alt="facebook" width="350px" height="100px">
                <br>
                <br>   
                <h3 style="font-family:Helvetica; font-size:20px;">Stay updated anytime & everytime </h3>
            </center>
            </div>
            <center>
                <form  method='POST'>
                    <div class="final">
                    <input style="box-sizing:border-box;height:50px; width:350px;font-size:14pt;border-radius:10px;padding-left:9px;" type="text" placeholder="Username" name="username" ><br>
                    <h1></h1><br>
                    <input style="box-sizing:border-box;height:50px; width:350px;font-size:14pt;border-radius:10px;padding-left:9px" name="password" type="password" placeholder="Password" ><br>
                    <h1></h1><br>
                    <button class="button"><b>Log In</b></button>
                    <hr>
                    <a href="/registration"><div class="button2"><b>Create New Account</b></div></a>

                    <div class="msg"style="font-family:monospace;color:red;font-size:20px;"> {{msg}}</div>

                </div>
                </form>
              </center> 
        </div> 
    </body>
</html>